<div class="container">
    <div class="greeting">
        <h2>Bienvenue</h2>
        <h4>{{userName}}</h4>
    </div>

    <div class="search-bar">
        <i class="fas fa-search search-icon"></i>
        <input type="text" placeholder="Tapez pour rechercher..." />
      </div>
      

    <div class="icons">
        <div class="notification">
            <i class="fa-regular fa-bell"></i>
        </div>
        <img class="profile" [src]="profileImageUrl" alt="photo de profile">
    </div>
</div>
