<div class="container">
    <div class="company">
        <img [src]="companyPictureUTL" alt="photo d'entresprise">
        <div class="other">
            <h2>{{visit?.company?.name}}</h2>
            <h4>Adresse : <span>{{visit?.company?.address}}</span></h4>
            <button class="add-button" (click)="toggleFeedbackForm()">
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </div>
    <h2>Feedbacks de Visite :</h2>

        <div *ngIf="feedbacks.length > 0; else noData">
            <app-feedback-item 
                *ngFor="let feedback of feedbacks"
                [feedback]="feedback"
            ></app-feedback-item>
        </div>
  
<ng-template #noData>
  <p class="no-data">Aucun Feedback pour cette Visite</p>
</ng-template>
</div>

<app-add-feedback *ngIf="showFeedbackForm" 
    (feedbackCancelled)="toggleFeedbackForm()"
    [visitId]="visit?.id">
</app-add-feedback>