.container{
    background-color: white;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 10px 10px 50px rgba(195,129,255,0.2);
    width:fit-content;
    height:80vh;
    overflow-y: scroll;
    scrollbar-color: rgba(195,129,255,1);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container>h2{
    margin: 10px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #222;
}
.company{
    display: flex;
    padding: 0 12px;
    gap: 16px;
    width: 700px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    position: relative;
}

.company .add-button{
    all: unset;
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 10px;
    background-color: #fff;
    border: 2px solid #c381ff;
    border-radius: 100%;
    color: #c381ff;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.company .add-button:hover{
    background-color: #c381ff;
    color: #fff;
}

.company>img{
    width: 140px;
    height: 140px;
    border-radius: 16px;
    border: 5px solid #f9f2ff;
}

.company .other{
    padding: 14px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;
}

.other h2{
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #333;
}

.other h4{
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
    color : #727E78;
}

.other span{
    font-weight: 500;
    color :#c381ff;
}

.no-data {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: gray;
}