<div class="layout">
  <SideBar>
    <NavItem [label]="'Calendrier'" [isActive]="isActive('calendrier')" [routerLink]="'/student/dashboard/calendrier'" faClass="fa-regular fa-calendar" />
    <NavItem [label]="'Profile'" [isActive]="isActive('profile')" [routerLink]="'/student/dashboard/profile'" faClass="fa-regular fa-user" />
    <NavItem [label]="'FeedBacks'" [isActive]="isActive('feedbacks')" [routerLink]="'/student/dashboard/feedbacks'" faClass="fa-regular fa-envelope" />
    <NavItem [label]="'Historique'" [isActive]="isActive('historique')" [routerLink]="'/student/dashboard/historique'" faClass="fa-solid fa-clock-rotate-left" />
  </SideBar>
  <div class="content">
    <Header></Header>
    <router-outlet></router-outlet>
  </div>
</div>