
<div class="dropdown-menu" [class.show]="dropdownVisibleProfile">
    <div class="profile-data">
        <img [src]="profileImageUrl" alt="Profile">
        <div class="info">
            <h2>{{username}} </h2>
            <h4>{{email}}</h4>
        </div>
    </div>
    <ul>
        <li> <div class="personal-info" (click)="displayMessage('button for navigation to user\'s personal info.')">
            <i class="fa-solid fa-sliders"></i>
            Personal Info
        </div></li>

        <li><div class="personal-info" (click)="displayMessage('button for navigation to user\'s profile settings.')">
            <i class="fa-solid fa-gear"></i>
            Settings
        </div></li>
        
        <li><div class="personal-info" (click)="displayMessage('button for navigation to help center.')">
            <i class="fa-regular fa-circle-question"></i>
            Help Center
        </div></li>
    </ul>
    <div class="logout" (click)="logout()">
        <div class="personal-info">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            Sign out
        </div>
    </div>
</div>
