.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;    
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 0 0 rgba(10, 0, 73, 0.1) , 
              0 33px 72px 0 rgba(10, 0, 73, 0.1) ,
              0 130px 130px 0 rgba(10, 0, 73, 0.1),
              0 295px 175px 0 rgba(10, 0, 73, 0.1);
  position: relative;
  width: 600px;
  height: 700px;
  padding: 30px 70px;
  gap: 6px;
}

.form-box .logo{
    width: 100px;
    align-self:flex-end;
  }

h2 {
  font-size: 46px;
  font-weight:900;
  color: #171519;
}

h4{
    font-size: 15px;
    color: #888;
    font-weight: 400;
}
  
form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    gap: 5px;
}

.full-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.full-name input{
  background-color: #faf6ff;
  border: solid 1px #f5f3fd;
  border-radius: 8px;
  padding: 14px 12px;
  width: 220px;
  border: none;
  font-size: 16px;
  outline: none;
  letter-spacing: 1px;
  color: #5A5161;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}

.input-group label{
  font-size: 16px;
  font-weight: 500;
  color: #171519;
  padding-bottom: 6px ;
}

.input-group label.required::after{
  content: " *";
  font-size: 15px;
  font-weight: 800;
  color: red;
}

.input{
  background-color: #faf6ff;
  border: solid 1px #f5f3fd;
  border-radius: 8px;
  padding: 14px 12px;
  width: 100%;
}

.input i{
  color: #673AEC;
}

.input input{
  background-color:transparent;
  border: none;
  margin-left: 12px;
  width: 390px;
  font-size: 16px;
  outline: none;
  letter-spacing: 1px;
  color: #5A5161;
}

input::placeholder{
  color: #C1BCC9 ;
  font-size: 14px;
}


.error {
    position: absolute;
    bottom: 0;
    left: 2px;
    color: red;
    font-size: 11px;
  }
 
  button{
    background-image: linear-gradient(120deg, #4727E7 0%, #6588c9  50%, #4727E7  100%);
    background-size: 200% auto;
    transition: background-position 0.8s ease;
    box-shadow: 0 0 20px #eee;
    color: #fff;
    font-size: 16px;
    padding: 15px 45px;
    width: 460px;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
button:hover {
   background-position: right center;
 }

 .redirect {
  text-align: center;
}

.redirect a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}
.redirect a:hover{
  text-decoration: underline;
}