<div class="feedback-card">
    <div class="user">
        <img [src]="responsiblePictureURL" alt="user photo">
        <h2>{{feedback?.user?.lastName}} {{feedback?.user?.firstName}}</h2>
        <span>
            <i class="fa-regular fa-calendar"></i>{{getDate()}}
            <i class="fa-regular fa-clock"></i>{{getTime()}}
        </span>
    </div>
    <div class="comment">
        {{feedback?.comment}}
    </div>
    <div class="footer">
        <i (click)="deleteFeedback()" *ngIf="isMyFeedBack" class="fa-solid fa-trash trash"><span>supprimer</span></i>
        <i (click)="toggleFeedbackForm()" *ngIf="isMyFeedBack" class="fa-regular fa-pen-to-square edit"><span>modifier</span></i>
        <div class="stars">
            <i *ngFor="let icon of icons" [class]="icon"></i>
        </div>
    </div>
</div>

<app-update-feedback *ngIf="showFeedbackForm" 
    (feedbackCancelled)="toggleFeedbackForm()"
    [feedback]="feedback">
</app-update-feedback>