<div class="container">
    <!-- Skeleton Loader -->
    <ng-container *ngIf="isLoading; else visitList" >
      <div class="visit-list">
        <div class="skeleton-card" *ngFor="let i of [1,2,3,4]">
          <div class="skeleton-image"></div>
          <div class="skeleton-details"> 
            <div class="skeleton-title"></div>
            <div class="skeleton-teacher">
              <div class="skeleton-img"></div>
              <div class="skeleton-name"></div>
            </div>
            <div class="skeleton-location"></div>
          </div>
            <div class="skeleton-tail">
              <div class="skeleton-time"></div>
              <div class="skeleton-date"></div>
              <div class="skeleton-more"></div>
            </div>
        </div>
      </div>
      <div class="skeleton-aside">
      </div>
    </ng-container>
  
    <!-- Visit Cards -->
    <ng-template #visitList>
      <div *ngIf="visits.length > 0; else noData">
        <div  class="visit-view">
          <div class="visit-list">
            <app-visit-card 
            *ngFor="let visit of visits"
              [visit]="visit"
              [isActive]="visit.id === selectedVisitId"
              (actionClicked)="onVisitActionClick(visit.id)"
            ></app-visit-card>
          </div>
          <app-visit-details [visit]="selectedVisit"></app-visit-details>
        </div>
      </div>
    </ng-template>
  
    <!-- No Data Template -->
    <ng-template #noData>
      <p class="no-data">No visits available.</p>
    </ng-template>
  </div>
  